* {
    background-color: black;
    background-image: url("homebg.gif");
    background-repeat: no-repeat;
    background-position: center 5%;
}

/*body a img#breakfast {
    display: block;
    float: left;
    clear: left;
    margin: 500px 0 20px 250px;

}*/

body a img {
    display: block;
    float: left;
    margin-top: 550px;
    margin-left: 150px;
}

#breakfast {
    margin-left: 400px;
}


