/*
 Website for MIS & Technology Presentation: Perk-A-Colas
          Group members: Joy, Tianna, Manny, Bradley
          Designed by Joy
 */

body {
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

h1.page-header {
    color: white;
}

div.col-md-4 {
    color: darkgray;
    line-height: 2.0em;
    font-size: 1.5em;
}

h3.page-header {
    color: darkgray;
}

